* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 50px;
    background-color: rgb(133, 121, 119);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #3D1913;
    margin-top: 10px;    
}

li {
    margin: 10px;
}

.title {
    display: block;
    font-family: 'Montserrat' , sans-serif;
    color: #392624;
    margin-top: 1rem;
}

.gallery {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    width: 300px;
    border-radius: 20px;
    margin: 1rem;
    background-color: white;
}

.card--image {
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;  
}

.card--title {
    font-size: 1.3rem;
    padding: 20px;
}

.card--description {
    padding: 20px;
}

.on-completion {
    display: none;
}

.celebrate {
    font-size: large;
    color: #C7392F;
}

.cinema4d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat' , sans-serif;
    font-size: 60px;
}

.container {
    margin: auto;
    padding: 10px;
}

#celebrate-image {
    width: 500px;
    height: 500px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}